@{
    ViewData["Title"] = "I Love Skiing!";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Greatest Snow on Earth! (My hobby is skiing in utah)</h1>
    <hr />
    
    @* this part links the photo from img folder and does the caption*@
    <img src="~/img/skiing-jump.jpeg" class="rounded shadow mb-4" style="max-width: 600px;" alt="Me skiing in Provo" />
    <p class="fst-italic">Me going off a jump at solitude last week!</p>

    <div class="container text-start">
        <p class="lead">
            Skiing is more than just a hobby for me, It was the first sport I ever tried. Being a student in Provo, 
            I am lucky enough to be just a short drive away from world-class snow like Brighton, 
            Snowbird, and Alta. There is nothing quite like a good powder powder day.
        </p>

        <p>
            I first started skiing when I was 3, and it has become my favorite way to stay 
            active during the winter months. It requires a lot of leg strength, 
            balance, and a ton of bravery when you're looking down a steep run. 
        </p>
    </div>

    <div class="mt-4">
        <img src="~/img/ski-lift.jpeg" class="img-fluid rounded shadow" style="max-width: 500px;" alt="View from the top" />
        <p class="fst-italic">The view from the lift at Solitude.</p>
    </div>
@* this button is important and links to the pricing view, so they can calcuate the price *@
    <div class="mt-5 mb-5">
        <a asp-controller="Home" asp-action="Pricing" class="btn btn-info btn-lg">View Ski Lesson Pricing</a>
    </div>
</div>